
 
  
  
  
  
  .formpassword {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .grouppassword {
    margin-bottom: 15px;
    width: 80%;
  }
  
  .labelpassword {
    font-size: 14px;
    font-weight: 500;
    color: #333;
    margin-bottom: 5px;
    display: block;
  }
  
  .inputpassword {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    color: #333;
    background-color: #fff;
  }
  .inputpassword:focus{
    border-color: #009E60;
    background-color: #fff;
    box-shadow: 0 0 6px rgba(0, 123, 255, 0.2);
    outline: none;
  }
.password{
    width: 80%;
}

  .errorpassword {
    font-size: 12px;
    color: #e74c3c;
    margin-top: 5px;
  }
  
 
 
  
  @media (max-width: 600px) {
    .create-user-container {
      padding: 15px;
    }
  
    .create-user-title {
      font-size: 20px;
    }
  
    .inputpassword {
      font-size: 12px;
    }
  
   
  }
  